docs/schema/IJMeldescheinWebservices.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!--Generated by the Oracle JDeveloper 10g Web Services WSDL Generator-->
<!--Date Created: Mon Jul 13 14:02:47 CEST 2016-->

<definitions
   name="JMeldescheinWebservices"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   targetNamespace="http://www.avs.meldeschein.de/ns/"
   xmlns:tns="http://www.avs.meldeschein.de/ns/"
   xmlns:ms="http://www.avs.meldeschein.de/ns/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"> 
   <types>
		<xsd:schema>
			<xsd:import namespace="http://www.avs.meldeschein.de/ns/" schemaLocation="./meldeschein_webservices.xsd"/>
		</xsd:schema>
	</types>
  
  
   <message name="druckeMeldescheineInput">
      <part name="param0" element="ms:druckeMeldescheineRequest"/>
   </message>
   <message name="druckeMeldescheineOutput">
      <part name="return" element="ms:druckeMeldescheineResponse"/>
   </message>
   <message name="bucheMeldescheinInput">
      <part name="param0" element="ms:meldescheine"/>
   </message>
   <message name="bucheMeldescheinOutput">
      <part name="return" element="ms:meldescheine"/>
   </message>
   <message name="holeMeldescheinInput">
      <part name="param0" element="ms:holeMeldeschein"/>
   </message>
   <message name="holeMeldescheinOutput">
      <part name="return" element="ms:holeMeldeschein"/>
   </message>
   <message name="holeMeldescheineInput">
      <part name="param0" element="ms:holeMeldescheineRequest"/>
   </message>
   <message name="holeMeldescheineOutput">
      <part name="return" element="ms:holeMeldescheineResponse"/>
   </message>	
  
  <message name="getKonfigurationsListeInput">
		<part name="param0" element="ms:configuration-lists"/>
	</message>
	<message name="getKonfigurationsListeOutput">
		<part name="return" element="ms:configuration-lists"/>
	</message>
  
   <portType name="MeldescheinWebservicesPortType">
       <operation name="druckeMeldescheine">
         <input message="tns:druckeMeldescheineInput"/>
         <output message="tns:druckeMeldescheineOutput"/>
      </operation>
      <operation name="bucheMeldeschein">
         <input message="tns:bucheMeldescheinInput"/>
         <output message="tns:bucheMeldescheinOutput"/>
      </operation>
	  <operation name="holeMeldeschein">
         <input message="tns:holeMeldescheinInput"/>
         <output message="tns:holeMeldescheinOutput"/>
      </operation>
	  <operation name="holeMeldescheine">
         <input message="tns:holeMeldescheineInput"/>
         <output message="tns:holeMeldescheineOutput"/>
      </operation>
      
      <operation name="getKonfigurationsListe">
        <input message="tns:getKonfigurationsListeInput"/>
        <output message="tns:getKonfigurationsListeOutput"/>
      </operation>
   </portType>
   
   <binding name="MeldescheinWebservicesBinding" type="tns:MeldescheinWebservicesPortType">
			<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="druckeMeldescheine">
				 <soap:operation soapAction="urn:oracle:druckeMeldescheine"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="bucheMeldeschein">
				 <soap:operation soapAction="urn:oracle:bucheMeldeschein"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
	  <operation name="holeMeldeschein">
				 <soap:operation soapAction="urn:oracle:holeMeldeschein"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
	  <operation name="holeMeldescheine">
				 <soap:operation soapAction="urn:oracle:holeMeldescheine"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      
      <operation name="getKonfigurationsListe">
        <soap:operation soapAction="urn:oracle:getKonfigurationsListe"/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
   </binding>
   <service name="JMeldescheinWebservices">
      <port name="MeldescheinWebservicesPort" binding="tns:MeldescheinWebservicesBinding">
         <soap:address location="https://meldeschein.avs.de/meldeschein-ws-prod/JMeldescheinWebservices"/>
      </port>
   </service>
</definitions>
