docs/schema/meldeschein_datentypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.avs.meldeschein.de/ns/" xmlns:ms="http://www.avs.meldeschein.de/ns/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:avs="http://www.avs.de/ns/">
	
	<xsd:complexType name="cBegleitperson">
		<!-- Begleitpersonen beim Buchen eines Meldescheins -->
		<xsd:sequence>
			<!-- PersonId aus MS-System. Wird Benoetigt zum Update eines Begleitreisenden -->
			<xsd:element minOccurs="0" name="personid" type="ms:sPersonId"/>
			<!-- Anrede der Begleitperson -->
			<xsd:element minOccurs="0" name="anredeid" type="ms:sAnredeId"/>
			<!-- Name der Begleitperson -->
			<xsd:element name="name" type="ms:sName"/>
			<!-- Vorname der Begleitperson -->
			<xsd:element minOccurs="0" name="vorname" type="ms:sName"/>
			<!-- Geburtsdatum der Begleitperson. Muss zusammenpassen mit der Kategorie_id (Mindestalter, Maximalalter) -->
			<xsd:element minOccurs="0" name="geburtsdatum" type="ms:sGeburtsdatum"/>
			<!-- Berechnungs-Parameter! Kategorie der Begleitperson -->
			<xsd:element name="kategorieid" type="ms:sKategorieId"/>
			<!-- Berechnungs-Parameter! Anreise der Begleitperson. Darf sich nur im Zeitraum des Hauptreisenden befinden.
			Wenn leer wird Anreise vom Hauptreisenden uebernommen-->
			<xsd:element minOccurs="0" name="anreise" type="ms:sAnreise"/>
			<!-- Berechnungs-Parameter! Abreise der Begleitperson. Darf sich nur im Zeitraum des Hauptreisenden befinden.
			Wenn leer wird Abreise vom Hauptreisenden uebernommen-->
			<xsd:element minOccurs="0" name="abreise" type="ms:sAbreise"/>
			<!-- Nationalitaet der Begleitperson. Siehe auch Staatsangehoerigkeit der Hauptperson -->
			<xsd:element minOccurs="0" name="staatsangehoerigkeitid" type="xsd:long"/>
			<!-- Nationalitaet der Begleitperson. Siehe auch Staatsangehoerigkeit der Hauptperson -->
			<xsd:element name="staatsangehoerigkeit" type="ms:cLand" minOccurs="0"/>
			<!-- Ausweisnummer der Begleitperson. -->
			<xsd:element minOccurs="0" name="ausweisnr" type="xsd:string"/>
			<!-- Response! Errechneter Betrag der jeweiligen Begleitperson -->
			<xsd:element minOccurs="0" name="betrag" type="ms:sBetrag"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="cBegleitgruppe">
		<!-- Begleitpersonen beim Buchen eines Gruppen-Meldescheins -->
		<xsd:sequence>
			<!-- PersonId aus MS-System. Wird Benoetigt zum Update der Begleitgruppe -->
			<xsd:element minOccurs="0" name="personid" type="ms:sPersonId"/>
			<!-- Berechnungsparameter! Kategorie der Begleitgruppe -->
			<xsd:element name="kategorieid" type="ms:sKategorieId"/>
			<!-- Berechnungsparameter! Anzahl der Personen je Gruppe -->
			<xsd:element name="anzahl" type="xsd:int"/>
			<!-- Response! Errechneter Betrag der Begleitgruppe -->
			<xsd:element minOccurs="0" name="betrag" type="ms:sBetrag"/>
			<!-- Ausweisnummer der Begleitgruppe -->
	        <xsd:element minOccurs="0" name="ausweisnr" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>	

	<xsd:complexType name="cFehlermeldungen">
	<!-- Response Fehlermeldungsblock, mit Fehlercode und -beschreibung. Fehlercode 10001 bedeutet, dass der Request erfolgreich verarbeitet werden konnte. -->
		<xsd:sequence maxOccurs="1" minOccurs="0">
			<xsd:element name="fehler" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Fehler Code. Siehe Dokumentation. ErrorCode 10001 bedeutet alles korrekt verarbeitet! -->
						<xsd:element name="code" type="ms:sFCode"/>
						<!-- Beschreibung zum Fehlerfall -->
						<xsd:element name="beschreibung" type="xsd:string"/>
						<!-- Bei welcher Person ist Fehler aufgetreten -->
						<xsd:element name="bezug" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="cIdentifikation">
	<!-- Identifikation, die jedem Webservice-Aufruf voran steht! -->
		<xsd:sequence>
			<!-- Datum des Requests -->
			<xsd:element name="erzeugung" type="xsd:date"></xsd:element>
			<!-- Benutzerdaten zur Idetifikation. Siehe Freischaltungs E-Mail -->
			<xsd:element name="schnittstelle" type="ms:sSchnittstelle"/>
			<!-- Gemeindenummer von AVS -->
			<xsd:element name="kurverwaltung" type="ms:sKurverwaltung"/>
			<!-- Session Nummer -->
			<xsd:element name="sessionid" type="xsd:string" minOccurs="0"/>
			<!-- Kennzeichen was fuer Webservice Methode aufgerufen wird -->
			<xsd:element name="verarbeitung" type="ms:sVerarbeitung" minOccurs="1"/>
			<!-- Response Versionsnummer -->
			<xsd:element name="version" type="ms:sVersion" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Response Datensatz von der Methode CONFIG-L -->
	<xsd:complexType name="cKonfigurationsliste">
		<xsd:sequence>
			<xsd:element name="konfigdatensatz" type="ms:cKonfigurationsdatensatz" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Response Datensatz von der Methode CONFIG-L -->
	<xsd:complexType name="cKonfigurationsdatensatz">
		<xsd:sequence>
			<!-- Id der Konfiguration -->
			<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<!-- Text der Konfiguration -->
			<xsd:element name="text1" type="xsd:string" maxOccurs="1"/>
			<!-- Moeglicher zweiter Text fuer Konfigurationen -->
			<xsd:element name="text2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!-- Moeglicher dritter Text fuer Konfigurationen -->
   			<xsd:element name="text3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="sName">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sStrasse">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sHausnummer">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sPlz">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"></xsd:maxLength></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sOrt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="sGeburtsdatum">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>

	<!-- Kategorien Konfigurationsliste kann ueber CONFIG-L-KAT geholt werden -->
	<xsd:simpleType name="sKategorieId">
		<xsd:restriction base="xsd:int"></xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="sAnreise">
	<!-- Berechnungsparameter fuer Meldescheinbetrag -->
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="sAbreise">
	<!-- Berechnungsparameter fuer Meldescheinbetrag -->
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="sMsnr">
	<!-- Vom Meldescheinsystem vergebenene Identifikationsnummer. Diese erhaelt man im Response vom MS-Buchen.
	 Wird benoetigt fuer holen, drucken und updaten von Meldescheinen -->
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<xsd:simpleType name="sBuchungsnummer">
	<!-- Meldescheinnummer des Fremdsystems -->
		<xsd:restriction base="xsd:string">
		<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sFirmaid">
	<!-- Firmaid im Meldescheinsystem -->
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>

	<xsd:simpleType name="sObjektid">
	<!-- Objektid im Meldescheinsystem -->
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>

	<xsd:simpleType name="sBetrag">
	<!-- berechneter Betrag -->
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>

	<xsd:simpleType name="sAbrechnungstatusId">
	<!-- Siehe Tag cMS -->
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>

	<xsd:simpleType name="sFCode">
	<!-- Fehlercode -->
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sKurverwaltung">
	<!-- MandantId / Id der Kurverwaltung. Jeder Ort muss bei der AVS einzeln freigeschaltet werden.-->
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="sSchnittstelle">
	<!-- Identifikation des Webservice- Users. Siehe Freischaltungs E-Mail -->
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:simpleType name="sVerarbeitung">
	<!-- Beschreibt was fuer Ws-Methode aufgerufen werden soll -->
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sVersion">
		<!-- Versionsnummer -->
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sPersonId">
		<!-- Eindeutige Identifikationsnummer zu einer Person. Wird beim Update von Meldescheinen benoetigt. -->
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="sLandISO">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="sLandId">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="sAnredeId">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:complexType name="cLand">
	    <!-- Land  -->
	    <xsd:sequence>
	        <xsd:element name="land-id" type="ms:sLandId" minOccurs="0"/>
	        <xsd:element name="land-iso" type="ms:sLandISO" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="cPerson">
	    <xsd:sequence>
			<!-- Eindeutige Identifikationsnummer einer Begleitperson. Wird benoetigt zum Upate eines Meldescheines und Begleitperson-->
	        <xsd:element minOccurs="0" name="personid" type="ms:sPersonId"/>
			<!-- Adresse der Hauptperson-->
	        <xsd:element minOccurs="1" name="adresse" type="ms:cAdresse"/>
			<!-- Geburtsdaten der Haupt oder Begleitperson -->
	        <xsd:element minOccurs="0" name="geburtsdatum" type="ms:sGeburtsdatum"/>
			<!-- Staatsangehoerigkeit der Person -->
	        <xsd:element minOccurs="0" name="staatsangehoerigkeitid" type="ms:cLand"/>
			<!-- Berechnungs-Parameter! Kategorie der Person --> 
	        <xsd:element name="kategorieid" type="ms:sKategorieId"/>
			<!-- Berechnungs-Parameter! Anreise der Person -->
	        <xsd:element minOccurs="0" name="anreise" type="ms:sAnreise"/>
			<!-- Berechnungs-Parameter! Abreise der Person -->
	        <xsd:element minOccurs="0" name="abreise" type="ms:sAbreise"/>
	    </xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="cMeldeschein">
	    <xsd:sequence>
			<!-- OrtId des Meldescheins -->
	        <xsd:element name="ort-id" type="ms:sOrtId"/>
			<!-- Reservierungsnummer des Fremdsystems  -->
	        <xsd:element name="buchungsnummer" type="ms:sBuchungsnummer"/>
			<!-- Vom Meldescheinsystem eindeutig vergebene Identifikationsnummer -->
	        <xsd:element minOccurs="0" name="meldescheinnummer" type="ms:sMsnr"/>
			<!-- Firma-Id, ueber diese wird der Bezug zur Firma hergestellt -->
	        <xsd:element name="firmaid" type="ms:sFirmaid" minOccurs="1" nillable="true"/>
			<!-- Objekt-Id, ueber diese wird der Bezug zum Objekt hergestellt -->
	        <xsd:element name="objektid" type="ms:sObjektid" minOccurs="1" nillable="false"/>
			<!-- Kennzeichen ob es sich um den Hauptreisenden oder nicht handelt. Wenn 0 dann Begleitreisender -->
	        <xsd:element minOccurs="1" maxOccurs="1" name="hauptperson" type="ms:cPerson"/>
			<!-- weiter Angaben zur Person -->
	        <xsd:element minOccurs="0" name="weitere_angaben" type="xsd:string"/>
			<!-- KFZ-Kennzeichen des Hauptreisenden -->
	        <xsd:element minOccurs="0" name="kfzkennzeichen" type="xsd:string"/>
			<!-- Meldescheinbetrag. Dieser wird im Meldescheinsystem berechnet und im Response zurueckgegeben. -->
	        <xsd:element minOccurs="0" name="betrag" type="ms:sBetrag"/>
			<!-- Status des Meldescheins. Siehe dazu Dokumentation-->
	        <xsd:element name="abrechnungstatusid" type="ms:sAbrechnungstatusId" minOccurs="0"/>
			<!-- Kategoriebedingte Zusatzfelder-->
	        <xsd:element name="zusatzfelder" type="ms:cMeldescheinZusatzfelder" minOccurs="0"/>
	        <xsd:choice>
				<!-- Kennzeichen Begleitperson -->
	            <xsd:element minOccurs="0" maxOccurs="unbounded" name="begleitperson" type="ms:cPerson"/>
				<!-- Kennzeichen der Begleitgruppe -->
	            <xsd:element name="begleitgruppe" type="ms:cBegleitgruppe" maxOccurs="unbounded" minOccurs="0"/>
	        </xsd:choice>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="sOrtId">
	    <!-- MandantId / Id der Kurverwaltung. -->
	    <xsd:restriction base="xsd:integer">
	    </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sBinaerdaten">
		<!-- Respräsentiert das MS-PDF base64 codiert -->
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>

	<!-- Kategoriebedingte Zusatzfelder -->
	<xsd:complexType name="cMeldescheinZusatzfelder" abstract="false">
		<xsd:sequence>
			<xsd:element name="sb-versorgungsamtnr" type="xsd:string" minOccurs="0"/>
			<xsd:element minOccurs="0" name="sb-gueltig-bis" type="xsd:date"/><!-- Meldeschein-Nummer des Fremdsystems  -->
			<xsd:element minOccurs="0" name="freie-tage" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="cAdresse">
		<xsd:sequence>	
			<!-- Id der Anrede. Kann ueber Config-L-Anrede geholt werden -->
			<xsd:element minOccurs="0" name="anredeid" type="ms:sAnredeId"/>
			<!-- Vorname der Person -->
			<xsd:element minOccurs="0" name="vorname" type="ms:sName"/>
			<!-- Name der Person -->
			<xsd:element minOccurs="0" name="name" type="ms:sName" maxOccurs="1"/>
			<!-- Strasse der Person -->
			<xsd:element minOccurs="0" name="strasse" type="ms:sStrasse"/>
			<!-- Hausnummer der Person -->
			<xsd:element minOccurs="0" name="hausnummer" type="ms:sHausnummer"/>
			<!-- PLZ der Person -->
			<xsd:element minOccurs="0" name="plz" type="ms:sPlz"/>
			<!-- Ort der Person -->
			<xsd:element minOccurs="0" name="ort" type="ms:sOrt"/>
			<!-- Herkunftsland der Person -->
			<xsd:element name="land" type="ms:cLand" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Individuelle Zusatzfelder -->
	<xsd:complexType name="cIndivZusatzfelder">
		<xsd:sequence>
			<xsd:element name="feld" type="xsd:string"/>
			<xsd:element name="wert" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ObjektId -->
	<xsd:simpleType name="sObjektidInt">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
</xsd:schema>
