docs/GetResult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.enova.pl/Schemas/GetResult">
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LastRow">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:dateTime" name="Date"/>
              <xs:element type="xs:string" name="End"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rows">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Xml"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
